body{
    margin: 0px;
    /* background-color: #0C0C0A; */
    background-color: aqua;
    /* background-image: linear-gradient(180deg, #0C0C0A 18.75%, rgba(12, 12, 10, 0.00) 100%),url(/assents/Background/background.jpg); */
    /* 
    
    
    background-size: cover;
    
    background-repeat: no-repeat;
    background-position: center top; */
    width: 100vw;
    height: 100vh;
    /* -webkit-background-size:cover;
    -moz-background-size:cover;
    -moz-background-size:cover ; */
    overflow-x: hidden;
    
    
}

.hotbar{
    position: fixed;
    top: 0; 
    z-index: 100;
    width: 100vw;
    height: 57px;
    /* background: #0C0C0A; */
    background: #000000;

    /* -webkit-box-shadow: 0px 1px 53px 40px rgba(12,12,10,1);
    -moz-box-shadow: 0px 1px 53px 40px rgba(12,12,10,1);
    box-shadow: 0px 1px 53px 40px rgba(12,12,10,1); */

    -webkit-box-shadow: 0px 1px 53px 40px rgb(0, 0, 0);
    -moz-box-shadow: 0px 1px 53px 40px rgb(0, 0, 0);
    box-shadow: 0px 1px 53px 40px rgb(0, 0, 0);

    color: #FFF;
    font-family: Inter , sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.menu_inco_moblie{
    display: none;
    cursor: pointer;
}
.menu_inco_moblie div{
    width: 32px;
    height: 2px;
    background: #FFF;
    margin: 8px;

}
.hotbar .menu{
    width: 100%;
}
.hotbar nav ul{
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin: 0px;
    height: 100%;

}

.hotbar nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;

}
.hotbar nav{
    padding-left: 5.69%;
    padding-right: 1.95%;
    height: 100%;
    margin: 0 px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.hotbar h2{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;

}
.hotbar ul h2:hover{
    color:#8257E6;
}
.hotbar .bt_curiculo{
    border-radius: 15px;
    border: 1px solid #8257E6;
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;


}
.hotbar .bt_curiculo:hover{
    border-radius: 15px;
    border: 1px solid #8257E6;
    background-color: #8257E6;  
    -webkit-box-shadow: 0px 0px 22px 0px rgba(130,87,230,1);
    -moz-box-shadow: 0px 0px 22px 0px rgba(130,87,230,1);
    box-shadow: 0px 0px 22px 0px rgba(130,87,230,1);
}
.hotbar .bt_curiculo:active{
    border-radius: 15px;
    border: 1px solid #8257E6;
    background-color: transparent;  
    -webkit-box-shadow: 0px 0px 22px 0px rgba(130,87,230,1);
    -moz-box-shadow: 0px 0px 22px 0px rgba(130,87,230,1);
    box-shadow: 0px 0px 22px 0px rgba(130,87,230,1);
}

.hotbar .bt_curiculo_contanier{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

}


/*telas menor que 600 px */

@media screen and (max-width: 500px){

    body{
        overflow-x: hidden ;
    }
    .hotbar nav{
        padding-left: 0%;
        padding-right: 1.95%;
    }

  
  .hotbar .menu {
    position: absolute;
    background: #0c0c0abd;
    height: 50vh;
    border-radius: 0px 0px 15px;
    top :100%;
    width: 75%;
    transform: translatex(-100%);
    

  }

  .hotbar .menu_active .menu{
    transform: translatex(0%);
    transition: transform 0.5s ease-in;
  }

  
  .hotbar .menu ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
  .hotbar .menu li{
    opacity: 0;
    transition: opacity 1s;
  }
  .hotbar .menu_active .menu li{
    opacity: 1;
  }
  .hotbar .menu_active .menu_inco_moblie .line1 {
    transform: rotate(-45deg) translate(-9px,6px);
  
  }
  .hotbar .menu_active .menu_inco_moblie .line2 {
    opacity: 0;
  }
  .hotbar .menu_active .menu_inco_moblie .line3 {
    transform: rotate(45deg) translate(-8px,-6px);
   
  }

  .hotbar .menu_inco_moblie{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .hotbar .menu_inco_moblie div{
    transition: 0.3s;
  }
  
  
  .hotbar .bt_curiculo:hover{
    border-radius: 15px;
    border: 1px solid #8257E6;
    background-color: transparent;  
    box-shadow: none;
    }
    .hotbar .bt_curiculo:active{
        border-radius: 15px;
        border: 1px solid #8257E6;
        background-color: #8257E6;  
        -webkit-box-shadow: 0px 0px 22px 0px rgba(130,87,230,1);
        -moz-box-shadow: 0px 0px 22px 0px rgba(130,87,230,1);
        box-shadow: 0px 0px 22px 0px rgba(130,87,230,1);
    }


}




main section{
    
    width: 100vw;
    overflow-x: hidden;

}

main .main{
    height: 100vh;
    background-image: linear-gradient(70deg, #000000 20%, rgba(12, 12, 10, 0) 60%),url(/assents/Background/background.jpg); 
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .main span{
 width: 100%;

}
.main header{
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    padding: 5vw;
}
.main header div{
    margin-left:87px;
    position: relative;

}
.main header h1{
    cursor:default;
    margin: 0;
    color: #FFF;
    font-family: Anton;
    font-size: 74px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.main header .sub_title p{
    margin: 0;
    cursor:default;
    color: #FFF;
    font-family: Anonymous Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-right: 4px solid rgb(255, 255, 255);
    width: 18ch;
    white-space: nowrap;
    overflow: hidden;
    animation: digitando 1s steps(18), blinking 0.5s infinite step-end alternate;
}
@keyframes digitando {
    from{
        width: 0;
    }
}
@keyframes blinking {
    50%{
        border-color: transparent;
    }
}
.main .bin h2{
    color: rgba(217, 217, 217, 0.54);
    font-family: Audiowide, sans-serif;
    font-size: min(12px ,2vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}

.main .bin{
    width: 90%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    text-align: center;
    margin-bottom: 15px;
    cursor:default;
}

.main header .sub_title span img{
    /* height: 30px;
    width: 30px; */
    height: clamp(20px, 3.75vw ,30px);
    width: clamp(20px, 3.75vw ,30px);
    opacity: 0.3;
    cursor: pointer;
}

.main header .sub_title span img:hover{
    filter: brightness(0) saturate(100%) invert(37%) sepia(54%) saturate(2603%) hue-rotate(237deg) brightness(93%) contrast(94%);
    opacity: 1;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(130,87,230,1);
    -moz-box-shadow: 0px 0px 22px 0px rgba(130,87,230,1);
    box-shadow: 0px 0px 22px 0px rgba(130,87,230,1);
} 

.main header .sub_title{
    margin-left: 203px;
    width: 294px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:85%;

    /* justify-content: center;
    align-items: center; */
}
.main header .sub_title span{
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

@media screen and (max-width: 800px){
    .main header{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
      
    }
    .main header div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0;
    }
    .main header h1{
        text-align: center;
        margin: 0;
        height: none;
        color: #FFF;
        width: 12ch;
        font-family: Anton;
        font-size: clamp(35px, 11.25vw ,74px) ;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .main header .sub_title{
        margin: 0;
        
    }
    .main header .sub_title p{
        margin: 0;
        color: #FFF;
        font-family: Anonymous Pro;
        font-size: clamp(12.4px, 4vw ,32px ); 
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-right: 4px solid rgb(255, 255, 255);
        width: 18ch;
        white-space: nowrap;
        overflow: hidden;
        animation: digitando 1s steps(18), blinking 0.5s infinite step-end alternate;
    }
   

}



main .resume{
    /* background: #0C0C0A linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(12,12,10,1) 10%); */
    background: red linear-gradient(140deg, rgb(0, 0, 0) 20%, rgb(12, 10, 10) 60%); 
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 0fr 1fr;
    grid-template-areas: "sobre fig" "skil skil";
    overflow-x: hidden;
    

    /* background: #0C0C0A linear-gradient(90deg, #000000 20%, rgba(12, 12, 10, 0) 60%); */

}
.resume .sobre{
    
    padding-top: 11.49vh;   
    padding-left: 11.49vh;   
    grid-area: sobre;

}
.resume h1{
    margin-top: 0px;
    margin-bottom: 5vh;
    color: #FFF;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.resume .sobre p{
  
    width: 46vw;
    color: #FFF;
    font-family: "Anonymous Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.resume .skil{
  
   grid-area: skil;
   padding-left: 11.49vh;  
   padding-right: 11.49vh;  
   display: flex;
   flex-direction: column;
}
.resume .programer{
    margin: 0;
    
    grid-area: fig;
    max-height: 30.32vw;
    display: flex;
    padding-top: 11.49vh;
    padding-right: 11.49vh;
    justify-content: center;
    align-items: center;
}
.resume .programer img{
    height: 30.32vw;
    width: 30.32vw;
    border-radius: 100%;
}
.resume .skil h1{
    margin-bottom: 2.72vh;
}
.resume .skil span{
 
    width: 80vw;
    display: grid;
    gap:14px;
    grid-template-columns: repeat(auto-fill , 95px);
    
}
.resume .skil span div{
    height: 95px;
    width:  95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #8257E6;
    background: #1A1A1A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}
.resume .skil span div h3{
    text-align: center;
    margin: 0px;
    margin-top: 10px;
    color: #8257E6;
    font-family: "DM Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.resume .skil figure{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}
.resume .skil img{
    width: 42%;
}




main .projetos{

    background-color: #ff3c00;
}


